body {
  background-color: #206a5d;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  padding: 2rem 0;
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h3 {
  margin: 0;
  display: inline;
}

header {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 150%;
}

p {
  line-height: 1.4;
}

a {
  color: lavender;
  text-decoration: none;
}

img {
  max-width: 300px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 5px 0;
}

li svg {
  padding-right: 5px;
}

input {
  display: inline;
}

.link {
  display: block;
  margin: 50px 0;
}

@media (min-width: 1021px) {
  #root {
      max-width: 900px;
      margin: 0 auto;
  }

  header {
    width: 60%;
  }

  .plants {
    column-count: 3;
    column-gap: 50px;
    margin-bottom: 100px;
  }

  .plants * {
    display: inline-block;
  }

  .plants div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .plantDetail .info {
    display: flex;
  }

  .plantDetail section {
    margin-left: 50px;
  }

  .plantDetail p {
    margin: 0 0 50px 0;
  }

  .plantDetail .care {
    border-top: 1px solid lavender;
    padding-top: 20px;
  }

  .plantDetail .care a {
    margin-left: 20px;
  }
}